<% provide(:title, "회원 정보 수정") %>
<% provide(:button_text, '정보 수정하기') %>

<h1>회원 정보 수정</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Change</a>
    </div>
  </div>
</div>